.tickets {
    padding: 0px;
    width: 100%;
}

.ticket_col {
    margin-right: 0px;
    padding-right: 0px;
}

.ticket{
    padding:1rem;
    border-color: #575757;
    background-color: #454545;
}

.ticketName{
    font-family: "BMDOHYEON";
    font-size:xx-large;
}

.placeName{
    font-family: "BMDOHYEON";
    font-size: large;
}

.expired{
    font-family: "BMHANNAPro";
}