@font-face {
    font-family: "BMDOHYEON";
    src: url("./BMDOHYEON_otf.otf");
}

@font-face {
    font-family: "BMHANNAAir";
    src: url("./BMHANNAAir_otf.otf");
}

@font-face {
    font-family: "BMHANNAPro";
    src: url("./BMHANNAProOTF.otf");
}